---
import Susto from './icons/Susto.astro';
import Pesadilla from './icons/Pesadilla.astro';
import Kill from './icons/Kill.astro';
import LinkButton from './LinkButton.astro';
import GitHub from './icons/GitHub.astro';
import Link from './icons/Link.astro';


const TAGS = {
    SUSTOS: {
        name: 'Sustos',
        class: 'bg-violet-800 text-violet-100',
        icon: Susto,
    },
    PESADILLAS: {
        name: 'Pesadillas',
        class: 'bg-teal-800 text-teal-100',
        icon: Pesadilla,
    },
    MATASION: {
        name: 'Matasión',
        class: 'bg-rose-800 text-rose-100',
        icon: Kill,
    }
}
const PROJECTS = [
    {
        title: 'Pesadilla en Elm Street',
        description: 'Proyecto para molestar a Nancy y a sus amigos. Se piensa ella que acabó conmigo, pero no...',
        link: 'https://www.google.com/search?q=elm+streem&rlz=1C1UEAD_esES1064ES1064&oq=elm+streem&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTILCAEQLhgNGBMYgAQyCggCEAAYDRgTGB4yDAgDEAAYChgNGBMYHjIMCAQQLhgKGBMYFhgeMg8IBRAuGAoYExgWGB4Y1AIyDwgGEC4YChgTGBYYHhjUAjIMCAcQABgFGA0YExgeMgwICBAAGAUYDRgTGB7SAQgyMzc0ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8',
        github: 'https://github.com/',
        image: '/freddy.webp',
        tags: [TAGS.SUSTOS, TAGS.PESADILLAS, TAGS.MATASION]
    },
    {
        title: 'Pesadilla en Elm Street 2: La venganza de Freddy',
        description: 'Aquí me divertí mucho manejando a Jesse para volver a todo el mundo loco. Tuve que aprender a conducir un autobus. ',
        link: 'https://www.google.com/search?q=pesadilla+en+elm+street+2&rlz=1C1UEAD_esES1064ES1064&oq=pesadilla+en+elm+street+2&gs_lcrp=EgZjaHJvbWUqDAgAECMYJxiABBiKBTIMCAAQIxgnGIAEGIoFMgcIARAuGIAEMgcIAhAuGIAEMgYIAxBFGDsyBwgEEAAYgAQyBwgFEAAYgAQyBwgGEAAYgAQyBwgHEAAYgAQyBwgIEAAYgATSAQkxMDg0OGoxajeoAgCwAgA&sourceid=chrome&ie=UTF-8',
        github: 'https://github.com/',
        image: '/freddy2.png',
        tags: [TAGS.SUSTOS, TAGS.PESADILLAS, TAGS.MATASION]
    }
]
---

<div class="flex flex-col gap-y-16">
    {
      PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
    <div class="w-full md:w-1/2">
      <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
        <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
      </div>
    </div>
  
    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
        {title}
      </h3>
      <div class="flex flex-wrap mt-2">
        <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
  
        <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
        <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Code
                
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                Preview
              </LinkButton>
            )}
          </footer>
      </div>
    </div>
  </article>
      ))
    }
  </div>